.page-wrapper {
  background: #fafafa;
  min-height: 100vh;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: auto;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}

.result-line {
  text-align: right;
  color: gray;
  font-size: 13px;
}
